@charset "utf-8";
/* CSS Document */
body,a , h,div,var,em,img, p,h1,h2,h3,h4,h5,span,strong,input,ul,li,ol,dl,dt,dd,table,tr,th,td,br{margin:0;padding:0; font-family:"宋体";}
img {border:none;}
var{font-style:normal; }
a{text-decoration:none;}
ul li { list-style:none;}
body{ background-color:#fff; border:1px red solid;}
.zhongmin{ width:100%; height:100%; margin:0 auto; border:1px #000000 solid;}

.zhongmina{ width:100%; height:85px; margin:0 auto; background:url(../images/sy-1.jpg) 0 0 repeat-x; border:1px #000000 solid;}
.zhongminam{ width:1000px; height:85px; margin:0 auto; }
.zhongminaml{ width:490px; height:85px; margin-left:37px; float:left; display:inline;}
.zhongminamr{ width:184px; height:20px; margin-right:10px; margin-top:55px; float:right; display:inline;}
.zhongminamr a{ width:100px; height:14px; line-height:14px; font-size:12px; text-align:center; color:#FFFFFF; float:left; display:inline; border-right:1px #fff solid;}


.zhongminb{ width:100%; height:57px; margin:0 auto; background:url(../images/sy-2.jpg) 0 0 repeat-x;  border:1px blue solid;}
.zhongminc{ width:100%; height:413px; margin:0 auto; border:1px #000000 solid;}
.zhongmind{ width:100%; height:173px; margin:0 auto; background:url(../images/sy-3.jpg) 0 0 repeat-x;  border:1px red solid;}
.zhongmindm{ width:1000px; height:173px;  margin:0 auto;}
.yint{ width:1000px; height:39px;margin-top:5px;}
.yint img{ width:130px; height:39px; float:left; display:inline;}
.yinr{ width:1000px; height:105px;  border:1px red solid;}
.zhongmine{ width:100%; height:243px; margin:0 auto; background:url(../images/sy-4.jpg) 0 0 repeat-x;  border:1px #000000 solid;}
.zhongminf{ width:100%; height:73px; margin:0 auto;  background:url(../images/sy-5.jpg) 0 0 repeat-x; border:1px blue solid;}
.zhongminfm{ width:1000px; height:73px;  margin:0 auto; }
.zhongminfm p{ width:1000px; height:73px; line-height:73px; text-align:center; font-size:12px; color:#a9a9a9; font-family:"宋体",Arial, Helvetica, sans-serif;  margin:0 auto;}
