html {
  width: 100%;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

body {
  overflow-x: hidden;
  min-width: 1440px;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #aae7d2;
}

a {
  text-decoration: none;
}

header {
  position: relative;
  z-index: 10;
  height: 60px;
  background: #19221f;
  .inner {
    width: 1400px;
    margin: 0 auto;
    line-height: 60px;
    color: #ffffff;
    .title {
      float: left;
      width: 200px;
      height: 60px;
      font-size: 24px;
      img, span {
        vertical-align: middle;
      }
    }
    .tip {
      display: inline-block;
      font-size: 16px;
      height: 24px;
      margin-left: 12px;
      padding-left: 9px;
      border-left: 1px solid #303936;
      line-height: 24px;
      vertical-align: middle;
    }
    .btns {
      float: right;
      line-height: 60px;
      a {
        position: relative;
        vertical-align: middle;
        img {
          vertical-align: middle;
        }
        .ewm {
          position: absolute;
          // top: -47px;
          top: 40px;
          left: -48px;
          opacity: 0;
          transform: scale(0.2);
          transform-origin: center -48px;
          // transform: scale(0), translateY(-5px);
          transition: all .3s;
        }
        &:hover .ewm {
          opacity: 1;
          transform: scale(1);
          // transform: scale(1), translateY(0);
        }
      }
      span {
        display: inline-block;
        height: 24px;
        margin: 0 17px;
        border-right: 1px solid #303936;
        vertical-align: middle;
      }
    }
  }
}

.main {
  position: absolute;
  top: 60px;
  left: 50%;
  width: 1400px;
  margin-left: -700px;
  img, div {
    position: absolute;
    opacity: 0;
    transition: all 1s;
    z-index: 5;
  }
  .big-bg {
    top: 237px;
    left: -108px;
    transform: translate(-20px, 0);
    &.show {
      opacity: 1;
      transform: translate(0, 0);
    }
  }
  .small-bg {
    top: -60px;
    left: -215px;
  }
  .feather {
    top: 150px;
    left: 0;
    transform: translate(40px, 0);
  }
  .leaf {
    left: 683px;
    top: 382px;
    width: 0;
    height: 92px;
    background: url(../img/leaf.png) no-repeat right center;
    &.show {
      left: 596px;
      width: 87px;
      opacity: 1;
    }
  }
  .branch {
    left: 744px;
    top: 456px;
    width: 0;
    height: 0;
    background: url(../img/branch.png) no-repeat right bottom;
    &.show {
      left: 545px;
      top: 300px;
      width: 199px;
      height: 156px;
      opacity: 1;
    }
  }
  .glide {
    left: 1183px;
    top: 364px;
    animation: glideAn 2s linear infinite alternate;
  }
  .surfing {
    left: 478px;
    top: 457px;
    animation: surfingAn 2s 1s linear infinite alternate;
  }
  .slogan {
    top: 403px;
    left: 672px;
    width: 480px;
    height: 0;
    background: url(../img/slogan.png) no-repeat center center;
    &.show {
      top: 263px;
      height: 280px;
      opacity: 1;
    }
  }
  .flower {
    left: 928px;
    top: 391px;
    transition: none;
  }
  .flash {
    left: 995px;
    top: 263px;
    &.animate {
      animation: flashAn 2s ease-in-out forwards;
    }
  }
  .halo {
    left: 720px;
    top: -15px;
    &.animate {
      animation: haloAn 2s ease-in-out;
    }
  }
  .aircraft {
    top: 177px;
    left: 1123px;
    &.show {
      opacity: 1;
      animation: aircraftAn 3s ease-in-out;
    }
  }
  .parrot {
    top: 134px;
    left: 474px;
    background: url(../img/parrot.png) no-repeat center center;
    &.show {
      opacity: 1;
      animation: parrotAn 1s ease-in-out forwards;
    }
  }
}

.text-wrap {
  position: relative;
  z-index: 10;
  box-sizing: border-box;
  width: 1440px;
  margin: 0 auto;
  padding: 303px 0 0 110px;
  color: #008e8c;
  div {
    opacity: 0;
    transition: all 2s;
    &.show {
      opacity: 1;
    }
  }
  .title {
    float: left;
    height: 56px;
    line-height: 1em;
    font-size: 56px;
    cursor: pointer;
  }
  .tip {
    clear: both;
    height: 24px;
    margin-top: 5px;
    font-size: 24px;
    line-height: 1em;
  }
  .content {
    width: 309px;
    height: 170px;
    margin-top: 50px;
    font-size: 16px;
    line-height: 25px;
  }
}

.btn-wrap {
  position: absolute;
  top: 60px;
  left: 50%;
  z-index: 10;
  width: 1400px;
  margin-left: -700px;
  .left-btn, .right-btn {
    position: fixed;
    top: 487px;
    transform: matrix(0.1, 0, 0, 0.1, 0, 0);
    transition: all .3s;
    &:hover {
      box-shadow: 0 0 5px 2px #ffffff;
    }
    &.show {
      transform: matrix(1, 0, 0, 1, 0, 0);
    }
  }
  .left-btn {
    left: 0;
    &:active {
      transform: matrix(1, 0, 0, 1, -5, 5);
    }
  }
  .right-btn {
    right: 0;
    &:active {
      transform: matrix(1, 0, 0, 1, 5, 5);
    }
  }
}

@media screen and (min-width: 1680px) {
  .btn-wrap {
    .left-btn, .right-btn {
      position: absolute;
      top: 427px;
    }
    .left-btn {
      left: -140px;
    }
    .right-btn {
      right: -140px;
    }
  }
}

//加载进度条
.pace {
  pointer-events: none;
  user-select: none;
  .pace-progress {
    position: fixed;
    top: 0;
    right: 100%;
    z-index: 2000;
    width: 100%;
    height: 2px;
    background: #ff0000;
    box-shadow: 0 0 2px #ffffff;
  }
}

.pace-inactive {
  display: none;
}

@keyframes surfingAn {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-4px, -4px);
  }
}

@keyframes glideAn {
  from {
    transform: translate(0, 0);
  }
  to {
    transform: translate(-4px, 4px);
  }
}

@keyframes flashAn {
  0% {
    opacity: 0;
    transform: rotate(0);
  }
  50% {
    opacity: 1;
    transform: rotate(30deg);
  }
  90% {
    opacity: 0.8;
    transform: rotate(12deg);
  }
  100% {
    opacity: 0.8;
    transform: rotate(12deg);
  }
}

@keyframes haloAn {
  0% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes aircraftAn {
  from {
    top: 700px;
    left: -260px;
    transform: scale(0.5);
    z-index: 1;
  }
  to {
    top: 177px;
    left: 1123px;
    transform: scale(1);
  }
}

@keyframes parrotAn {
  from {
    top: 214.5px;
    left: 578.5px;
    width: 0;
    height: 0;
    border-radius: 50%;
  }
  to {
    top: 134px;
    left: 474px;
    width: 209px;
    height: 161px;
    border-radius: 0;
  }
}