/*-----------CSS Reset------------*/
* { margin: 0; padding: 0; font-size: 1em; font-weight: normal; font-style: normal; }
a { text-decoration: none; cursor: pointer;/*IE6*/ color: #000000;}
ul, ol, dl { list-style-type: none;}
img { border: none;}
html, body { width: 100%; overflow-x: hidden; *overflow-x: auto;}
body { font: 12px/1.8 'Microsoft YaHei',Tahoma,Verdana,'Simsun'; }
/*------------LAYOUT---------------*/
.wrapper { max-width: 1000px; min-width: 640px; _width: 1000px; margin: 0 auto;}

.header { }
.header-in { position: relative; height: 90px; z-index: 100;}
.header-logo, .top-nav, .header-nav { position: absolute;}
.header-logo { top: 20px; left: 12px;}
.top-nav { right: 13px; top: 18px; font-size: 12px;}
.header-nav { right: 0; bottom: 0; height: 40px; text-align: center; width: 80%;}
.header-nav a { color: #fff; }
.header-nav li { position: relative; float: left; display: inline; height: 40px; width: 13.2%; margin-left: 1%;font-size:14px;}
.header-nav li a{ display: block; line-height: 40px; border-radius: 5px; }
.header-nav dl { position: absolute; top: 40px; right: 0; font-size: 12px; display: none; width: 100%;}
.header-nav dd a { display: block; line-height: 30px; border-radius: 0px;}

.content { margin-top: 15px; overflow: hidden; *zoom: 1;}
.left { width: 185px; float: left; padding-left: 10px;}
.right { margin-left: 200px;}
.left h3 { padding: 3px 15px; height: 33px; width: 120px; line-height: 33px; background:url(../img/ar3d.gif) no-repeat left 14px; border-bottom: 1px solid #d1d1d1; font-size: 14px; font-weight: bold;}
.leftc { padding: 10px 0;}
.left ul { padding-left: 5px;}
.left li { background:url(../img/arrow.gif) no-repeat left 10px; padding: 4px 0 5px 15px; font-weight: bold; margin-top: 5px;}
.leftc  strong {font-weight: bold;}

.right  .title { height: 28px; line-height: 28px; background: #000; color: #dddddd; position: relative; z-index: 0;}
.right .title h4, .right .title .position { position: absolute; }
.right .title h4 { left: 8px; top: 0; font-size: 14px; padding: 0 25px; background:url(../img/arr_d2.jpg) no-repeat left center; color: #fff; font-weight: bold;}
.right .title .position { right: 15px; top: 0; font-weight: bold;}
.right .title .position a { color: #dddddd;}
.right .title .position a:hover { color: #fff;}

.center { padding: 15px 10px;}
.center .imglist { overflow: hidden; *zoom: 1;}
.center .imglist li { width: 222px; margin: 0 17px; float: left; display: inline;}
.center .imglist li a { border: 1px solid #cccccc; width: 220px; height: 160px; overflow: hidden;}
.center .imglist li h3 { display: block; text-align: center; height: 24px; line-height: 24px;}

.footer { margin-top: 25px; text-align: center; padding: 10px 0;}
.footer, .footer a { color: #dddddd;}
.footer-nav { line-height: 34px;}
.footer-nav span { display: inline-block; margin: 0 8px;}


@media all and (max-width: 800px){
.header-in {height: 125px!important; height: 90px; }
.header-nav { width: 100%!important; width: 80%;}
}

/*-----------Zhang Bingxue START -----------*/
#bimgscroll { display: none;}
#index .banner { display: none;}
#index #bimgscroll { display: block;}

#bimgscroll{ position:relative; width:600px; margin:0 auto;}
#bimgchange{ display:block; height:400px;  margin-left:-420px!important;  *position:relative; border:0 none; *left:210px;}
#btabbtn{ position:absolute; bottom:5px; width:100%; text-align:center; *left:420px;}
#btabbtn .bnav{ display:inline-block; margin:0 10px; background:url(../pic/zbx/sprites-high3.png) -9px 0 no-repeat; width:12px; height:12px; *float:left; *background:url(../pic/zbx/sprites-high3.gif) -9px 0 no-repeat;}
#btabbtn .bactive{ background-position:-9px -26px;}

.bright_b{ overflow:hidden; }
.bcontact{ float:left; padding:10px 0 0 8%; width:300px; }
.bright_b_r { float:left; padding-left: 8%;}
.bright_b p, .bright_b p a{ font-size:1em; color:#616161; line-height:2em; }
.bright_b p strong{  font-weight:bold; }
.brightp{ padding-top:30px;}

.bright_b .b_adv{ margin:25px 0 -20px 5px; width: 100%; *width: 750px; overflow: hidden;}
.bright_b .b_adv img { width: 100%; }
.b_title, .b_center { display:none;}
/*-----------Zhang Bingxue END ------------*/

/*----------------Zhou Yi START-------------*/
.shadow {
	webkit-box-shadow: #bbb 0px 0px 5px;
	-moz-box-shadow: #bbb 0px 0px 5px;
	box-shadow: #bbb 0px 0px 5px;
	*border: 1px solid #bbb; border: 1px solid #bbb\0;
}
.contentlist li{ line-height:30px; overflow:hidden; padding-left: 10px; background:url(../pic/ar_sp_dot.jpg) 0 13px no-repeat;}
.contentlist span{ float:right; overflow:hidden; padding-left:10px; color: #888;}
.contentlist a { color:#666; overflow:hidden; font-size: 14px;  }
.contentlist a:hover{ color:#000;}
#index  .contentlist li { font-size: 12px; height: 30px; background:url(../pic/ar_b.png) 0 13px no-repeat;}
#index  .contentlist li a { font-size: 12px; }

/* 人气活动 */
#scrollnews { height: 36px; line-height: 36px; margin: 10px 8px 25px; 
	background: #fff url(../img/arrow2.gif) 6px 15px no-repeat; }
#scrollnews h3 { font-size:14px; color:#ff7800; font-weight:bold; padding-left:23px; float:left;}
#margueout_zy { margin-left: 90px; position:relative; height: 100%; overflow:hidden;}
#margue_zy { position:absolute; top: 0; left: 0;}
#margue_zy li { overflow:hidden;}
#margue_zy a { font-size:12px;color:#666666;}
#margue_zy a:hover { color:#000;}
#margue_zy em { padding-left:25px; font-size:12px; color:#008000;}

/* 小图滚动 */
.pic_scroll_zy{ margin: 0 8px 25px; position: relative; padding: 10px 20px; border: 1px solid #fff;
	border-radius: 5px; overflow:hidden;
	background: #d2d2d2; /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(244,244,244,1) 0%, rgba(247,247,247,1) 70%, rgba(210,210,210,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(244,244,244,1)), color-stop(70%,rgba(247,247,247,1)), color-stop(100%,rgba(210,210,210,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  rgba(244,244,244,1) 0%,rgba(247,247,247,1) 70%,rgba(210,210,210,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  rgba(244,244,244,1) 0%,rgba(247,247,247,1) 70%,rgba(210,210,210,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  rgba(244,244,244,1) 0%,rgba(247,247,247,1) 70%,rgba(210,210,210,1) 100%); /* IE10+ */
	background: linear-gradient(to right,  rgba(244,244,244,1) 0%,rgba(247,247,247,1) 70%,rgba(210,210,210,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f4f4f4', endColorstr='#d2d2d2',GradientType=1 ); /* IE6-9 */
}
#left_scroll, #right_scroll  { position:absolute; top: 79px; height:49px; width:20px; }
#left_scroll{ background:url(../pic/buttonleft_01.png) 0 0 no-repeat; left: -1px; *left: -20px;}
#right_scroll { background:url(../pic/buttonright.png) 0 0 no-repeat; right: -1px; *right: 10px;}
#outer_zy { overflow:hidden; *width: 940px; position: relative; /* for IE6 */}
#inner_zy{ height:197px; position:relative; width:99999px; }
#inn_pic_scroll{ position:absolute; left:0; top:0;}
#inn_pic_scroll li{ float:left; display:inline; padding:0 5px; text-align:center; width:226px;}
#inn_pic_scroll img { height:160px; width:220px; border:3px solid #fff;}
#inn_pic_scroll h3{ height:25px; line-height:25px; }
#inn_pic_scroll a { color:#000; font-weight:bold;}

/* 三列 */
.aboutus, .News, .classroom { float: left; display: inline; overflow: hidden; height: 260px; margin-bottom: 25px;}
.aboutus{ width:34%; margin-left: 1%;}
.News{ width: 30%; margin: 0 2.5%; *margin: 0 2%;}
.classroom{float: right; width: 28%; margin-right: 1%; }

#index .Tiabout{ background:url(../pic/about_title.png) 53px center repeat-x; height:30px; line-height:30px; font-size:14px;}
#index .Tiabout span{ background: url(../pic/20130330213155.jpg) 0 0 repeat-x; color:#fd7800; padding-right:3px; float:left;}
.more_out{ background:url(../pic/20130330213155.jpg) 0 0 repeat-x; float:right; height:30px;
padding:0 4px; }
.more { background:url(../pic/more_o.png ) 0 0 no-repeat; display: block; width:27px; height:9px; margin-top:11px;}

.aboutus img { height:110px; width:128px; float:left; margin:5px 8px;}
.editor{ padding-top:15px;}
.editor p{ color:#666666; }

.index_case{ width:270px; height:89px; overflow:hidden; padding:10px 0 10px 0;}
.index_case dt{ float:left;}
.index_case dd{ margin-left:10px; float:left; width:173px;}
.index_case img{ height:82px; width:72px; overflow:hidden;}
.index_case dd a { color:#666666; font-weight:bold; line-height:21px;}
.index_case dd a:hover{ color:#000;}
.index_case dd { color:#888888;}
.index_case dt a{ margin-left:5px;}

/* 合作伙伴 */
.Cooperation{ clear: both; line-height: 24px; padding: 10px; margin:15px 8px; background: #f7f7f7; overflow: hidden; *zoom: 1;}
.Cooperation span{ float:left; color:#000; font-size:14px; font-weight:bold; margin-right: 10px;}
.list_one li{ float:left;}
.list_one li a{ font-size:12px; color:#666; margin-right:10px;}
.list_one li a:hover{ color:#000;}
/*----------------Zhou Yi END-------------*/

/*--------------STYLE-------------*/
body { background: #f4f4f4; }
.header {
	filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#3c3c3c,endcolorstr=#171717,gradientType=0);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#3c3c3c,endcolorstr=#171717,gradientType=0);/*IE8*/	
    background: #222222; /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(top, #3c3c3c, #171717);  
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#3c3c3c), to(#171717));  
    background:-o-linear-gradient(top, #3c3c3c, #171717); 
}
.header-nav li a.current, .header-nav li a:hover, .header-nav li a.hover{
	filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#565656,endcolorstr=#181818,gradientType=0);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#565656,endcolorstr=#181818,gradientType=0);/*IE8*/	
    background: #444444; /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(top, #565656, #171717);  
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#565656), to(#181818));  
    background:-o-linear-gradient(top, #565656, #181818); 
}
.footer {
	filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#191919,endcolorstr=#424242,gradientType=0);
    -ms-filter:progid:DXImageTransform.Microsoft.gradient(startcolorstr=#191919,endcolorstr=#424242,gradientType=0);/*IE8*/	
    background: #191919; /* 一些不支持背景渐变的浏览器 */  
    background:-moz-linear-gradient(top, #191919, #424242);  
    background:-webkit-gradient(linear, 0 0, 0 bottom, from(#191919), to(#424242));  
    background:-o-linear-gradient(top, #191919, #424242); 
}

.top-nav { color: #666666;}
.top-nav a { color: #d2d2d2;}
.header-nav dl { background: #666666;}
.header-nav dd a { border-bottom: 1px solid #c9c9c9; }
.header-nav dd a:hover { background: #7b7b7b; filter: none;}