* {
  margin: 0;
  padding: 0;
}

html {
  font-family: Microsoft Yahei;
}

.wrap {
  position: relative;
  z-index: 1;
  float: left;
  user-select: none;
  img {
    display: block;
  }
  canvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  .point {
    position: absolute;
    z-index: 5;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: red;
    line-height: 20px;
    text-align: center;
    color: #ffffff;
    cursor: default;
    &:hover {
      cursor: move;
    }
  }
  .back {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 20px;
  }
  .result {
    position: absolute;
    top: 60px;
    left: 20px;
    font-size: 20px;
  }
}

.result-out {
  clear: both;
}
