*{margin: 0 auto;}
header{background: url(../img/header_bg.jpg) 0 0 repeat;text-align: center;}
.main{text-align: center;}
.main div{display: inline-block;}
.video_two{margin-left: 13px;}
footer{margin-top: 240px;background-color: #423f46;text-align: center;}